body {
	background: #111;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #eee;
	padding: 0;
	margin: 0;
}
#main_content {
	padding-left: 40px;
	font-size: 14px;
	text-align: center;
}
.fb-share-button {
	margin-top: 28px;
}
#main_content img{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 400px;
}
.top-banner {
	background-color: #F2F2F2;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin-top: 6px;
}
.top-banner a {
	text-decoration: none;
	color: #FF0089;
	font-size: 16px;
}
