body {
	background: #111;
	font-family: Helvetica, Arial, sans-serif;
	color: #eee;
	padding-left: 8%;
	padding-right: 8%;
}
div#email img {
	height: 16px;
}
p {
	font-size: 14px;
	text-align: justify;
}
li {
	font-size: 14px;
	text-align: justify;
}
p.noMargin {
	margin: 0;
}
a {
	color: #00A1E4;
}
