body {
	background: #111;
	font-family: Helvetica, Arial, sans-serif;
	color: #eee;
}
div#content {
	text-align: center;
	padding-top: 40px;
}
div#title {
	font-size: 40px;
	font-weight: 200;
}
div#slogan {
	margin-top: 10px;
	font-size: 20px;
	color: #eee;
}
div#caveat {
	color: #FF0089;
	font-size: 14px;
}
div.cta {
	margin-top: 20px;
}
div.cta img {
	height: 40px;
}
div#screen {
	margin-top: 20px;
}
div#screen img {
	height: 600px;
}
div#questions {
	margin-top: 20px;
	font-size: 16px;
}
div#email {
	margin-top: 4px;
}
div#email img {
	height: 16px;
}
div#tos {
	margin-top: 20px;
	color: #333;
}
a {
	color: #00A1E4;
}
