<!DOCTYPE html>
<html>
<head>
  <title>TinyShow for Creators</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/connect.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css">

  <!-- Constants -->
  <script type="text/javascript">
    var REQUIRED_CREATOR_PERMISSIONS = <%= @required_creator_permissions %>;
  </script>

  <script type="text/javascript" src="/js/tinyshow.js"></script>
</head>
<body>
<div id="tiny_show_connect"></div>
<script src="app.js"></script>
</body>
</html>
