<!DOCTYPE html>
<html lang="en">
<head>
  <title>TINYSHOW</title>
  <%= erb :_fav_icon_links %>
  <meta name="google-site-verification" content="ixyhagjUCD_QMvd6rWB1eHFM-Ep9wx4s5uVgD8KovNM" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/welcome.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="animated bounceInDown">
	<div class="avatar">
		<img src="/images/tinyshow.png" alt="Avatar">
	</div>

	<div class="content">
	  <h5 class="title">Tiny<strong>SHOW</strong></h5>

		<p>
			Find awesome live music in less than a minute.
			Listen and preview music before going to the show.
			<br />
			<span style="color:#FF3399;">*Baltimore Only</span>
		</p>
		<p>
			<a href="https://itunes.apple.com/app/tinyshow/id1079542002">
				<img src="/images/white-app-store-badge.png" width="154" height="45" alt="apple_app">
			</a>
		</p>
		<p>
			<img src="/images/tinys_IOS_screen.png" width="299" height="616" alt="tinyshow_screen">
		</p>
		<p>
			Questions ?<br /><img style="height: 20px;" src="/images/email2.png" alt="email">
		</p>
    <a href="/privacy.html">Privacy</a> | <a href="/terms.html">Terms</a>
  </div>
</body>
</html>
